RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([\w-]+)/?$ $1.php [L,QSA]

RewriteRule ^([\w-]+)/([\w-]+)/?$ $1.php?name=$2 [L,QSA]

RewriteRule ^([\w-]+)/([\w-]+)/([\w-]+)/?$ $1.php?name=$2&slug=$3 [L,QSA]